<h1>Home</h1>

<input ng-model="search" ng-model-options="{debounce: 1000}" ng-change="controller.search(search)" class="input-sm" />

<table class="table table-striped">
    <tr class="row">
        <td>ID</td>
        <td>Name</td>
        <td>Detail1(ui-sref)</td>
        <td>Detail2(href)</td>
    </tr>

    <tr ng-repeat="product in controller.products" class="row">
        <td>{{product.id}}</td>
        <td>{{product.name}}</td>
        <td><a ui-sref="Details({id: product.id})">Details</a></td>
        <td><a href="/details/{{product.id}}">Details</a></td>
    </tr>
</table>